body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;

}

h1{
    text-align: center;
    color: #333;
    
}

p{
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    padding: 20px;
}